<h1>Work#index</h1>
<p>Find me in app/views/work/index.html.erb</p>
<section class="for_image">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      <div class="left_panel">
        <div class="button-select">

        </div>
        <div class="button-result">

        </div>

      </div>
      </div>
    </div>
    <div class="col-md-9">

    </div>
  </div>
</section>